* {
  box-sizing: border-box; }

::root {
  font-size: 16px; }

figure {
  margin: 0; }

.active {
  background-color: #00796B; }

.btn-primary {
  background-color: #009688;
  border: 0;
  outline: 0; }
  .btn-primary.active {
    color: #FFFFFF;
    border: 0;
    background-color: #FF5722; }
  .btn-primary:focus {
    border: 0;
    color: #FFFFFF;
    box-shadow: 0; }
  .btn-primary:hover {
    background-color: #00796B; }

.figure-img {
  margin: 0; }

html,
body {
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  position: relative;
  color: #212121; }

.navbar {
  background-color: #009688 !important;
  padding-top: 0;
  padding-bottom: 0; }
  .navbar .container .navbar-toggler {
    cursor: pointer;
    outline: 0;
    border-color: #BDBDBD; }
    .navbar .container .navbar-toggler span {
      color: #BDBDBD; }
  .navbar .container .navbar-brand {
    font-size: 1.5rem;
    position: relative; }
  .navbar .container .navbar-collapse .nav .nav-item .nav-link {
    padding: 1em 1.3em; }
    .navbar .container .navbar-collapse .nav .nav-item .nav-link:hover {
      background-color: #00796B; }

@media (max-width: 991px) {
  .navbar {
    padding-top: .5rem;
    padding-bottom: .5rem; }
    .navbar .container .navbar-collapse .nav {
      margin-top: .5rem;
      border-top: 1px solid #BDBDBD; } }

.about-section {
  margin: 56px 0 0 0; }
  .about-section .row-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .about-section .row-wrapper .intro {
      padding: 2rem;
      border-radius: 4px; }
      .about-section .row-wrapper .intro .lead {
        display: inline-block;
        word-spacing: .5rem;
        margin: 2rem 0; }
        .about-section .row-wrapper .intro .lead .h1 {
          font-size: 2.5rem;
          font-weight: 500;
          margin-right: 1rem;
          border: 0;
          text-transform: none; }
        .about-section .row-wrapper .intro .lead span {
          border-bottom: 2px solid #FF5722;
          text-transform: uppercase; }

.pictures-intro div {
  margin: 0rem 0; }
  .pictures-intro div figure {
    width: 25.5rem; }

.figure-1 {
  transform: translateX(2rem);
  opacity: 0;
  transition: all 0.4s ease-in-out; }

.figure-2 {
  transform: translateX(2rem);
  opacity: 0;
  transition: all 0.4s ease-in-out 0.3s; }

@media (max-width: 991px) {
  .about-section {
    margin: 54px 0 0; } }

.section-portfolio {
  margin: 4rem 0;
  background-color: #bebebe; }
