/*
COLORS:
  yelloww:#ffc33d
  bluee  :#49bbff
  purplee:#5460cc
  greenn :#328292
          #b9b9b9
*/


body{
  font-family: 'Dosis', sans-serif;
  font-size  : 16px;
  padding-top: 80px;
}
/*----------------------HEADER--------------------*/
#header-nav{
  margin-bottom: 0;
  border: 0;
  background-color: rgba(34, 34, 34, 0.88);
}
.navbar-inverse{
background-color: rgba(34, 34, 34, 0.88);
}
#navbar-header a{
  display: block;
}
#logo-img{
  width : 60px;
  height: 60px;
  margin: 10px 15px 10px 0;

}
.navbar-brand h1{
  color      : #777;
  font-size  : 2em;
  line-height: 0.2;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list{
  margin-top: 15px;
}
#nav-list a{
  color: #9d9d9d;
  text-align: center;
  font-size : 1.1em;
  /*border    : 0px solid #b9b9b9;*/
}
#nav-list a:hover{
  color           : #ffc33d;
  border-radius   : 30px;
}
#nav-list a:visited{
  color: #5460cc;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #9d9d9d;
    background-color: transparent;
}

/***************************************/

/*#nav-list li:nth-child(1) a:hover {
  background: #ffc33d;
}
#nav-list li:nth-child(2) a:hover  {
  background: #49bbff;
}
#nav-list li:nth-child(3) a:hover{
  background: #5460cc;
}*/


/***************************************/

.navbar-header button.navbar-toggle{
  clear     : both;
  margin-top: -30px;
}
/*----------------------.sec-banner--------------------*/
#sec-banner{
  margin-bottom  : 0;
  height         : 170px;
  background     : url('../imgs/gif-background.gif') no-repeat center fixed;
  background-size: cover;
  clear: both;
  margin-bottom: 50px;
  border-radius: 2px;
}
/********************************************************************/

/*----------------------#main-section--------------------*/
.sec-to-left{
  padding-left: 0;
}
.sec-to-right{
  padding-right: 0;
}
#main-section{
  margin-bottom: 50px;
  border: 0;
  border-radius: 2px;
}
/*----------------------#section-phi--------------------*/
#section-phi{
  height: 500px;
  background-color: #b9b9b9;
  border-radius: 2px;
}
/*----------------------#section-skies--------------------*/
#section-skies{
  height: 300px;
  background-color: #b9b9b9;
  border-radius: 2px;
}

/********************************************************************/

/*----------------------#second-section--------------------*/
#second-section{
  margin-bottom: 50px;
  border: 0;
  border-radius: 2px;
}
/*----------------------#section-contact--------------------*/
#section-contact{
  height: 400px;
  background-color: #b9b9b9;
  border-radius: 2px;
}
/*----------------------#section-ext--------------------*/
#section-ext{
  height: 600px;
  background-color: #b9b9b9;
  border-radius: 2px;
}


/****************************************************************/

/*----------------------.section-footer--------------------*/
#section-footer{
  height          : 300px;
  background-color: #b9b9b9;
  background-color: rgba(34, 34, 34, 0.88);
}
#section-footer h2{
  color     : #777;
  margin-top: 4em;
}
#section-footer{
  border-top: 1px solid #000;
}












/*----------------------MEDIA QUERIS--------------------*/
/*----------------------EXTRA LARGE DEVICES--------------------*/
@media (min-width: 1327px) {
  #header-container{
    width: auto;
    margin: 0 87px;
  }
}
/*----------------------LARGE DEVICES--------------------*/
@media (min-width: 1200px){

}

/*----------------------MEDIUM DEVICES--------------------*/
@media (min-width: 992px) and (max-width: 1199px) {
}
/*----------------------SMALL DEVICES--------------------*/
@media (min-width: 768px) and (max-width: 991px) {

}
/*----------------------EXTRA SMALL DEVICES--------------------*/
@media (max-width: 767px) {
  #logo-img{
    margin-left: 30px;
  }
  #btn-navbar{
    margin: 20px 30px;
  }
  .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #fff;
  }
  header buttom:active{
    background-color: rgba(54, 103, 125, 0.34);
  }
  #nav-list{
    margin-top: 0;
    margin-bottom: 0;
  }
  #nav-list a{
    text-align: center;
    font-size: 1.3em;
    border: 0px solid #fff;
    border-radius: 0px;
  }
  #nav-list a:hover, #nav-list a:focus{
    background-color: rgba(62, 62, 62, 0.58);
    color: #fff;
    border-radius: 0px;
  }
  #collapsable-nav a:visited{
    display: none;
  }
  #collapsable-nav{
    background-color: rgba(185, 185, 185, 0.46);
  }

  /*END HEADER*/

  /*----------------------JUMBOTRON-------------------*/
  #filter-des{
    margin-top: -30px;
  }
  #sec-des h2{
    font-size: 10vw;
  }
  #sec-des p{
    font-size: 1.5em;
  }
}


/*----------------------TOP NAVIGATION BUTTON--------------------*/
#top-button.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    right: 10px; /* padding from the left side of the window */
}
#top-button.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 20px; /* height of link element */
    right: 10px; /* padding from the left side of the window */
}
#top-button a{
  color: #328292;
  font-size: 2.5em;
  margin-right: 16px;
}
/*----------------------END TOP NAVIGATION BUTTON--------------------*/
