/*
COLORS:
  yelloww:#ffc33d
  bluee  :#49bbff
  purplee:#5460cc
  greenn :#328292
          #b9b9b9
          #efefef


  Verde   : #90dec8
  Rojo    : #cf7e6b
  AZUL    : #2b436b
  AMARILLO: #f5be46
  BLANCO  : #fafafa

  header:  #294f56

  c6e5eb
*/

/*----------------------global--------------------*/
:root{
  font-size: 16px;
}
body{
  /*font-family: 'Dosis', sans-serif;*/
  font-family: 'Roboto', sans-serif;

  padding-top: 80px;
  background-color: #efefef;
}
.mdl-card{
  width: 100%;
}
.mdl-card__supporting-text{
  font-size: 2rem;
  line-height: 24px;
}
.margin-botton30{
  margin-bottom: 30px;
}
.row-m0{
  margin: 0;
}
.card-conf{
  background-color: #fafafa;
  border-radius: 4px;
  position: relative;

}

.card-title{
  margin: 1rem 1rem 0;
  font-size: 1.3rem;
}
.supporting-text{
  font-size  : 1.2rem;
  line-height: 1.4em;
  color      : rgba(0,0,0,.54);
  margin: 0 1rem;
  overflow   : hidden;
  width: 90%;

}
.card-hr{
  border-top: 1.5px solid rgba(0,0,0,.1);
  margin: 1rem 1rem 1rem;
}
.card-action{
  margin: 1rem;
}
.card-action-button {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: inline-block;
  width: 120px;
  text-transform: uppercase;
  padding: .4em .3em .4em .5em;
}
.card-action-button a{
  text-decoration: none;
  color: rgba(0, 0, 0, .54);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 0px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0.01em;
}
.card-action-button i{
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  color: #294f56;
}
.card-action-button, .card-action-button a, .card-action-button i{
  transition: all .5s ease;
}
.card-action-button:hover{
  /*background: #90dec8;*/
  background: #294f56;
  border-radius: 2px;
}
.card-action-button:hover a{
  /*color: rgba(0, 0, 0, 0.7);*/
  color: #efefef;
}
.card-action-button:hover i{
  /*color: #294f56;*/
  color: #90dec8;
}

/***card shadow animation***/
.card-hover{
/*-webkit-transform: scale(1.01, 1.01);*/
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.card-transition{
  -webkit-transition: all .15s ease-in .01s;
  transition: all .15s ease-in .01s;
}

  /***card shadows*****************/
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
}

/*.card-shadow-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}*/

.card-shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


/*-------------------------HEADER-----------------------*/
#header-nav{
  margin-bottom: 0;
  border: 0;
  background-color: #294f56;
}
#header-container{
  padding: 0 1.1rem;
}
#navbar-header a{
  display: block;
}
#logo-img{
  width : 60px;
  height: 60px;
  margin: 10px 15px 10px 0;

}
.navbar-brand h1{
  color      : #efefef;
  font-size  : 2.2rem;
  line-height: 0.2;
  font-weight: 300;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list{
  margin-top: 15px;
}
.nav-list-button:after{
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background 0.5s ease;
}
.nav-list-button:hover:after {
  width: 100%;
  background: #90dec8;
}
#nav-list a{
  color: #efefef;
  text-align: center;
  font-size : 1.1em;
  position: relative;
  padding-bottom: .4em;
}
/*#nav-list a:hover{
  border-bottom: 2px solid #c6e5eb;*/
}
#nav-list a:visited{
  color: #5460cc;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #9d9d9d;
    background-color: transparent;
}
.navbar-header button.navbar-toggle{
  clear     : both;
  margin-top: -30px;
}


/*----------------------.section-footer--------------------*/
#section-footer{
  height          : 300px;
  background-color: #294f56;
}
#section-footer h2{
  color     : #efefef;
  margin-top: 4em;
}
#section-footer{
  /*border-top: 1px solid #000;*/
}



/*----------------------.sec-banner--------------------*/
#sec-banner{
  margin-bottom  : 0;
  height         : 210px;
  background     : url('../imgs/panoramic-banner.jpg') no-repeat center;
  background-position: 0 -85px;
  background-size: cover;
  clear: both;
  margin-top: 0px;
  margin-bottom: 30px;
  border-radius: 2px;
  position: relative;
}
#sec-banner span{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0;
}

/*----------------------#main-section--------------------*/
#main-section{
  margin-bottom: 50px;
  border: 0;
  border-radius: 2px;
}

/*----------------------#section-phi--------------------*/
#section-phi-row{

}
#section-phi{
  height: 500px;
  border-radius: 2px;
  padding: 0;
}
#section-phi-actions-button{
  margin-top: 20px;
}
#section-phi button{
  background-color: #fff;
}
#section-phi button:hover{
  background-color: #c6e5eb;

}
#section-phi button>a:hover{
    color: #fafafa;
}
#section-phi button a{
  color: rgba(0,0,0,.54);
  font-weight: bold;
}
#section-phi iframe{
  border-radius: 4px 4px 0 0;
}
/*------------------#section-skies--------------------*/
#section-skies-row{
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}
#section-skies{
  padding: 0;
  height: 500px;
  border-radius: 2px;
  position: relative;
}

#section-skies figure{
  height: 315px;
  overflow: hidden;
  position: relative;
  border-radius: 4px 4px 0 0;
}
#section-skies figure img{
 width: 100%;
 height: 100%;
 background: transparent;
}
#section-skies .card-action-button{
  margin: 0;
}
/*border-top: 1px solid rgba(0,0,0,.1);*/

/********************************************************************/

/*----------------------#second-section--------------------*/
#second-section{
  margin-bottom: 50px;
  border: 0;
  border-radius: 2px;
}
/*----------------------#section-contact--------------------*/
#section-contact{
  height: 400px;
  border-radius: 2px;
}
/*----------------------#section-ext--------------------*/
#section-ext{
  height: 600px;
  border-radius: 2px;
}


/*************************************************************/


/*----------------------MEDIA QUERIS--------------------*/
/*----------------------EXTRA LARGE DEVICES--------------------*/
@media (min-width: 1700px) {
  #header-container{
    width: auto;
    margin: 0 20rem;
  }
}
/*----------------------LARGE DEVICES--------------------*/
@media (min-width: 1200px){

}

/*----------------------MEDIUM DEVICES--------------------*/
@media (min-width: 992px) and (max-width: 1199px) {
  #sec-banner{
    background-position: 0 -31px;
  }
}
/*----------------------SMALL DEVICES--------------------*/
@media (min-width: 768px) and (max-width: 991px) {
  #sec-banner{
    height: 185px;
    background-position: 0 -1px;
  }
}
/*----------------------EXTRA SMALL DEVICES--------------------*/
@media (max-width: 767px) {
  #logo-img{
    margin-left: 30px;
  }
  #btn-navbar{
    margin: 20px 30px;
  }
  .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
  }
  header button:active{
    background-color: rgba(54, 103, 125, 0.34);
  }
  #nav-list{
    margin-top: 0;
    margin-bottom: 0;
  }
  #nav-list a{
    text-align: center;
    font-size: 1.3em;
    border: 0px solid #fff;
    border-radius: 0px;
  }
  #nav-list a:hover, #nav-list a:focus{
    background-color: rgba(62, 62, 62, 0.58);
    color: #fff;

  }
  #collapsable-nav a:visited{
    display: none;
  }
  #collapsable-nav{
    background-color: rgba(185, 185, 185, 0.46);
  }

  #sec-banner{
    height: 185px;
    background-position: 0 0;
  }

  #section--ext{
    margin-top: 0;
  }
  #section-phi-row, #section-contact-row {
    margin-bottom: 30px;
  }

  /*END HEADER*/

  /*----------------------JUMBOTRON-------------------*/
  #filter-des{
    margin-top: -30px;
  }
  #sec-des h2{
    font-size: 10vw;
  }
  #sec-des p{
    font-size: 1.5em;
  }


}

/*----------------------TOP NAVIGATION BUTTON--------------------*/
#top-button.affix-top {
  position: absolute; /* allows it to "slide" up into view */
  bottom: -182px; /* negative of the offset - height of link element */
  right: 10px; /* padding from the left side of the window */
}
#top-button.affix {
  position: fixed; /* keeps it on the bottom once in view */
  bottom: -60px; /* height of link element */
  right: 10px; /* padding from the left side of the window */
}
#top-button{
  z-index: 3;
}
#top-button a{
  margin-right: 10px;
}
#top-button button{
  background-color: #CF7E6B;
}
.btn-transition{
  transition: all .15s ease-in .01s;
}
.btn-translate{
  transform: translateY(-100px);
}
/*----END TOP NAVIGATION BUTTON----*/


/***************************************/

/*#nav-list li:nth-child(1) a:hover {
  background: #ffc33d;
}
#nav-list li:nth-child(2) a:hover  {
  background: #49bbff;
}
#nav-list li:nth-child(3) a:hover{
  background: #5460cc;
}*/
