*
  box-sizing: border-box
::root
  font-size: 16px

// imports
@import "helpers/_variables"
@import "helpers/_common"
@import "helpers/_classes"

html,
body
  margin: 0
  padding: 0
body
  background-color: #f7f7f7
  position: relative
  color: $primary-text-color
  overflow-x: hidden
  font-family: 'Roboto', sans-serif
  font-weight: lighter

.top-button
  transform: translateY(3rem)
  opacity: 0
  transition: all .3s $ease
  z-index: 1030
  position: fixed
  right: 2%
  bottom: 10%
  a
    background-color: $primary-color-dark
    color: $primary-color-text
    text-decoration: none
    width: 3.5rem
    height: 3.5rem
    display: flex
    align-items: center
    justify-content: center
    transition: all .2s $ease
    &:hover
      background-color: $primary-color
      color: $primary-color-text
    i
      font-size: 1.2rem
      line-height: 0

// sections
@import "layout/_navbar"
@import "layout/_footer"
@import "sections/_intro"
@import "sections/_portfolio"
@import "sections/_skills"
@import "sections/_about"
@import "sections/_contact"
@import "sections/_divider"
@import "sections/_grid_index"
@import "sections/_responsive_menu"

.transform-back-x
  transform: translateX(0)
  opacity: 1
.transform-back-y
  transform: translateY(0)
  opacity: 1
