.section-skills
  .section-content
    .row
      .card
        height: 10rem
        .card-block
          display: flex
          flex-direction: column
          align-items: center
          i
            margin-bottom: 1rem
            font-size: 4rem
      .html
        i
          color: $accent-color
      .css
        i
          color: $blue
      .js
        h2
          font-size: 1.6rem
          margin: 0
      .sass
        img
          margin-bottom: 1rem
          width: 6rem
      .git
        i
          color: $primary-color-light
.text
  display: flex
  justify-content: center
.skills-tiles
  > div
    margin-bottom: 30px
@media (max-width: 991px)
  .skills-tiles
    margin-top: 30px
