.section-contact
  .card
    width: 60%
    transition: all .3s $ease .3s
    .card-text
      a
        color: $primary-color
        &:hover
          color: $accent-color
    .social-icons
      a
        margin-right: 2rem
        color: $primary-color
        &:hover
          color: $accent-color
        i
          font-size: 1.5rem
